





div.showList {
  border-color: black;
  // border-style: solid;
  // border-bottom: solid black;
  border-top: solid black;
  display: row;
}


div.background {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;

}


.Links {
  color: black;
  margin: 1rem;
  text-decoration: none;
}

.Title {
  text-decoration: none;
  color: black;
  
}

.Form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 10rem;
  max-width: 7rem;
  margin: 1rem auto;
}

.showList {
display: flex;
flex-direction: row;
justify-content: center;

  .Date {
    margin: 20px ;
  }

  .Venue {
    
  }

}