







table, td {
  font-size: 0.9em;
  width: 100%;
  border-collapse: collapse;
}





.showList {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
  
  
}


.Links {
  color: black;
  margin: 1rem;
  text-decoration: none;
}

.Title {
  text-decoration: none;
  color: black;
  font-size: 24px;
  
  
}

.Form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 10rem;
  max-width: 7rem;
  margin: 1rem auto;
}


.videoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 80vh;
  
  
}

.Videos {
  padding: 30px;
  
}


section {
  height: 100vh;
}


//  .imgDiv {
  
  //   width: 100%;
  //   height: auto;
  // }
  
  .homeImage {
    width: 100%;
    height: auto;
    padding-top: 15px;
  }
  
  .merchImage {
    width: 100%;
    height: auto;
    padding-top: 15px;
  }
  
  
  .showListImage {
    
    width: 100%;
    height: auto;
    padding-top: 15px;
    
  }

  .videosImage {
    width: 100%;
    height: auto;
    padding-top: 15px;
  }
  
  .listenImage {
    width: 100%;
    height: auto;
    padding-top: 15px;
  }
  
  .contactImage {
    width: 100%;
    height: auto;
    padding-top: 15px;
  }

  .contactsContainer {
    height: 25vh;
    padding-top: 75px;
  
  }
  

  nav {
    margin-top: -25px
  }

 .Header {
   margin-top: -10px;
 }


 .Footer {
  padding-top: 50px;
 }

 .flyerImage {
  width: 100%;
  height: auto;
  padding-top: 15px;
 }