// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }





div.showList {
  border-color: black;
  // border-style: solid;
  // border-bottom: solid black;
  border-top: solid black;
  display: row;
}


div.background {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;

}


.Links {
  color: black;
  margin: 1rem;
  text-decoration: none;
}

.Title {
  text-decoration: none;
  color: black;
  
}